/** @format */

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  align-items: center;
}

.mainHeader {
  display: flex;
  gap: 25px;
}
.mainHeader li {
}
ul li {
  list-style: none;
}
.listParent {
  position: relative;
}
.list {
  background-color: teal;
  margin-top: 20px;
}

.listParent:hover .box {
  display: block;
}
.box{
    position: absolute;
    display: none;
}