/** @format */

body {
  height: 3000px;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  position: fixed;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
ul li {
  margin-left: 10px;
}
h2 {
  background-color: red;
  padding: 8px 15px;
  border-radius: 0px 20px;
  margin-left: 5px;
}
.listParent {
  position: relative;
}
.list {
  opacity: 0;
  transition-timing-function: ease;
  transition: margin-top 2s;
  background-color: #fff;
  color: black;
  position: absolute;
  right: -25px;
  padding: 4px 15px 15px 10px;
  width: 110px;
  border-radius: 5px;
  border-color: teal;
  background-color: rgb(142, 218, 218);
}
.listParent:hover .list {
  opacity: 1;
  display: block;
  margin-top: 40px;
}
.list li {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1.5px solid black;
  font-size: 12px;
  }
